@model ASPNETMVCCRUD.Models.UpdateEmployeeViewModel

@{
    <h1> Edit Employee </h1>
    <form method="post" action="View">
        <div class="mb-3">
            <label for="exampleInputId" class="form-label">Id</label>
            <input type="text" class="form-control" id="Id" asp-for="Id" readonly>

        </div>
        <div class="mb-3">
            <label for="exampleInputName" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" asp-for="Name">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" asp-for="Email">

        </div>
        <div class="mb-3">
            <label for="exampleInputSalary" class="form-label">Salary</label>
            <input type="number" class="form-control" id="salary" asp-for="Salary">

        </div>
        <div class="mb-3">
            <label for="exampleInputDob" class="form-label">Date Of Birth</label>
            <input type="date" class="form-control" id="DOB" asp-for="DateOfBirth">

        </div>
        <div class="mb-3">
            <label for="exampleInputDepartment" class="form-label">Department</label>
            <input type="text" class="form-control" id="department" asp-for="Department">

        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

        <button type="submit" class="btn btn-danger"
          asp-action="Delete"
          asp-controller="Employees"
        >Delete</button>
    </form>
}